<div class="container my-5">
    <div class="card shadow-lg">
      <div class="card-header bg-primary text-white text-center">
        <h2>{{ acercaDeInfo.nombre }}</h2>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <h5 class="card-title">Descripción del Proyecto</h5>
          <p class="card-text">{{ acercaDeInfo.descripcion}}</p>
        </div>
        <div class="mb-3">
          <h5 class="card-title">Versión</h5>
          <p class="card-text">{{ acercaDeInfo.version | truncate}}</p>
        </div>
        <div class="mb-3">
          <h5 class="card-title">API utilizada</h5>
          <p class="card-text">{{ acercaDeInfo.api }}</p>
        </div>
        <div class="mb-3">
          <h5 class="card-title">Desarrollado por</h5>
          <p class="card-text">{{ acercaDeInfo.desarrollador | format: 'capitalizar' }}</p>
        </div>
      </div>
      <div class="card-footer text-muted text-center">
        <small>Proyecto realizado con informacion samsung</small>
      </div>
    </div>
  </div>
  