<div class="container text-center py-5">
    <!-- Sección de bienvenida -->
    <h1 class="display-4 text-primary font-weight-bold mb-4">Bienvenido a nuestra Galería Samsung Galaxy</h1>
    <p class="lead text-muted mb-4">Explora los dispositivos más sofisticados de Samsung Galaxy y descubre sus características más destacadas.</p>
  
    <!-- Descripción del proyecto -->
    <div class="row justify-content-center mt-4">
      <div class="col-lg-8">
        <p class="text-muted">
          En nuestra plataforma, encontrarás información detallada sobre los modelos más recientes de teléfonos Samsung Galaxy, sus versiones de Android, fechas de lanzamiento y mucho más. ¡Descubre tu próximo dispositivo!
        </p>
      </div>
    </div>
    
    <!-- Imagen representativa del proyecto -->
    <div class="row justify-content-center mt-4">
      <div class="col-12 col-md-6">
        <img src="images/logo.jpg" alt="Samsung Galaxy" class="img-fluid rounded-lg shadow-lg">
      </div>
    </div>
  </div>
  